.expense-tracker {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #023047;
    
  }
  
  .expense-tracker h1 {
    font-size: 40px;
  }
  .expense-tracker button {
    margin-left: 10px;
  }
  
  .expense-return-button {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 可根据需要调整上边距 */
  }

  .transactions {
    margin-left: 480px;
    margin-top: 20px;
    padding-left: 10px;
    width: 600px;
    height: 400px;
    overflow: auto;
    border: 3px solid #023047;
  }