.ingredient-return {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 可根据需要调整上边距 */
}

.ingredients {
  margin-left: 260px;
  margin-top: 20px;
  padding-left: 10px;
  width: 1000px;
  height: 400px;
  overflow: auto;
  border: 3px solid #023047;
}

.ingredients li {
  margin-top: 10px;
}
